@import 'packages/less-bootstrap-3/lib/less/bootstrap.import.less';

span.blue {
	color: #66d9ef;
}

div {
	height: 100%;
	width: 100%;
}

div.footer{
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 40px

}

div.result {
	margin: 5px;
	padding: 10px;
	
	width: 99%;
	height: 70px;
	background-color: #171717;
	border-radius: 7px;
	cursor: pointer;
}

div.search-box {
	padding: 10px;
}

div.result-list {
	max-height: 590px;
	overflow-y: scroll;
}

div.codeblock {
	display: block;
	height: 100%;

	.github-link {
		height: 10px;
		a {
			float: right;
		}
	}
}
